<h2 layout="row" layout-align="center center">Change Password</h2>
<div style="color:red;" ng-show="force">
    Please change your password. You are not allowed to continue.
</div>
<br>
<md-content class="md-no-momentum createDlg">
    <form name="changePasswordForm" autocomplete="off">
        <div layout="row">
            <div>
                <img src="images/icons/ic_person_black_24dp_1x.png" />
            </div>
            <div>
                <md-input-container class="md-icon-float md-block">
                    <label>Old Password</label>
                    <input name="oldPassword" ng-model="changePassword.oldPassword" type="password" required="" ng-pattern="/[^\s]/">
                    <div ng-messages="createHuntGroupForm.oldPassword.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </md-input-container>
            </div>
        </div>
        <div layout="row">
            <div>
                <img src="images/icons/ic_person_black_24dp_1x.png" />
            </div>
            <div>
                <md-input-container class="md-icon-float md-block">
                    <label>New Password</label>
                    <input name="newPassword" ng-model="changePassword.newPassword" type="password" required="" maxlength="50"
                           minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&_])[A-Za-z\d$@$!%*?&_]{8,50}/">
                    <md-tooltip md-direction="top">
                        Spacial Characters allowed: !@%$&_*
                    </md-tooltip>
                    <div ng-messages="changePasswordForm.newPassword.$error">
                        <div ng-message="required">Password is required.</div>
                        <div ng-message="minlength">The password has to be more than 8 characters long.</div>
                        <div ng-message="pattern">Password should contain at least 1 capital letter, 1 small letter, 1 number and 1 special character.</div>
                    </div>
                </md-input-container>
            </div>

        </div>
        <div layout="row">
            <div>
                <img src="images/icons/ic_person_black_24dp_1x.png" />
            </div>
            <div>
                <md-input-container class="md-icon-float md-block">
                    <label>Reenter new Password</label>
                    <input name="passwordValidation" ng-model="changePassword.newPasswordCheck" type="password" required="" maxlength="50"
                           minlength="8" ng-pattern="{{changePassword.newPassword}}">
                    <div ng-messages="changePasswordForm.passwordValidation.$error">
                        <div ng-message="required">Password is required.</div>
                        <div ng-message="minlength">The password has to be more than 8 characters long.</div>
                        <div ng-message="pattern">Passwords do not match</div>
                    </div>
                </md-input-container>
            </div>
        </div>

        <div layout="row" layout-align="center center">
            <md-button aria-label="Cancel" class="md-raised" ng-hide="force" ng-click="cancel()" flex="" flex-md="100">
                Cancel
            </md-button>
            <md-button aria-label="Save" class="md-primary md-raised" ng-click="answer(changePassword)" flex=""
                       flex-md="100" ng-disabled="!changePasswordForm.$valid || changePassword.newPassword != changePassword.newPasswordCheck">
                Save
            </md-button>
        </div>
    </form>
</md-content>