<md-select name="timezone" placeholder="Select Timezone"
           ng-model="huntGroup.timezone">
    <md-option value="" selected="selected">Select Timezone</md-option>
    <md-option value="Pacific/Kwajalein" ng-selected="'Pacific/Kwajalein' == huntGroup.timezone">(GMT -12:00) Eniwetok, Kwajalein</md-option>
    <md-option value="Pacific/Samoa" ng-selected="'Pacific/Samoa' == huntGroup.timezone">(GMT -11:00) Midway Island, Samoa</md-option>
    <md-option value="US/Hawaii" ng-selected="'US/Hawaii' == huntGroup.timezone">(GMT -10:00) Hawaii</md-option>
    <md-option value="US/Alaska" ng-selected="'US/Alaska' == huntGroup.timezone">(GMT -9:00) Alaska</md-option>
    <md-option value="Canada/Pacific" ng-selected="'Canada/Pacific' == huntGroup.timezone">(GMT -8:00) Pacific Time (US &amp; Canada)</md-option>
    <md-option value="Canada/Mountain" ng-selected="'Canada/Mountain' == huntGroup.timezone">(GMT -7:00) Mountain Time (US &amp; Canada)</md-option>
    <md-option value="America/Mexico_City" ng-selected="'America/Mexico_City' == huntGroup.timezone">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</md-option>
    <md-option value="America/Bogota" ng-selected="'America/Bogota' == huntGroup.timezone">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</md-option>
    <md-option value="America/Caracas" ng-selected="'America/Caracas' == huntGroup.timezone">(GMT -4:30) Caracas</md-option>
    <md-option value="America/La_Paz" ng-selected="'America/La_Paz' == huntGroup.timezone">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</md-option>
    <md-option value="Canada/Newfoundland" ng-selected="'Canada/Newfoundland' == huntGroup.timezone">(GMT -3:30) Newfoundland</md-option>
    <md-option value="America/Argentina/Buenos_Aires" ng-selected="'America/Argentina/Buenos_Aires' == huntGroup.timezone">(GMT -3:00) Brazil, Buenos Aires, Georgetown</md-option>
    <md-option value="Atlantic/South_Georgia" ng-selected="'Atlantic/South_Georgia' == huntGroup.timezone">(GMT -2:00) Mid-Atlantic</md-option>
    <md-option value="Atlantic/Azores" ng-selected="'Atlantic/Azores' == huntGroup.timezone">(GMT -1:00) Azores, Cape Verde Islands</md-option>
    <md-option value="Europe/London" ng-selected="'Europe/London' == huntGroup.timezone">(GMT +0:00) Western Europe Time, London, Lisbon, Casablanca</md-option>
    <md-option value="Europe/Brussels" ng-selected="'Europe/Brussels' == huntGroup.timezone">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</md-option>
    <md-option value="Europe/Kaliningrad" ng-selected="'Europe/Kaliningrad' == huntGroup.timezone">(GMT +2:00) Kaliningrad, South Africa</md-option>
    <md-option value="Asia/Baghdad" ng-selected="'Asia/Baghdad' == huntGroup.timezone">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</md-option>
    <md-option value="Asia/Tehran" ng-selected="'Asia/Tehran' == huntGroup.timezone">(GMT +3:30) Tehran</md-option>
    <md-option value="Asia/Baku" ng-selected="'Asia/Baku' == huntGroup.timezone">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</md-option>
    <md-option value="Asia/Kabul" ng-selected="'Asia/Kabul' == huntGroup.timezone">(GMT +4:30) Kabul</md-option>
    <md-option value="Asia/Karachi" ng-selected="'Asia/Karachi' == huntGroup.timezone">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</md-option>
    <md-option value="Asia/Calcutta" ng-selected="'Asia/Calcutta' == huntGroup.timezone">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</md-option>
    <md-option value="Asia/Kathmandu" ng-selected="'Asia/Kathmandu' == huntGroup.timezone">(GMT +5:45) Kathmandu, Pokhara</md-option>
    <md-option value="Asia/Dhaka" ng-selected="'Asia/Dhaka' == huntGroup.timezone">(GMT +6:00) Almaty, Dhaka, Colombo</md-option>
    <md-option value="Asia/Rangoon" ng-selected="'Asia/Rangoon' == huntGroup.timezone">(GMT +6:30) Yangon, Mandalay</md-option>
    <md-option value="Asia/Bangkok" ng-selected="'Asia/Bangkok' == huntGroup.timezone">(GMT +7:00) Bangkok, Hanoi, Jakarta</md-option>
    <md-option value="Asia/Hong_Kong" ng-selected="'Asia/Hong_Kong' == huntGroup.timezone">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</md-option>
    <md-option value="Australia/Eucla" ng-selected="'Australia/Eucla' == huntGroup.timezone">(GMT +8:45) Eucla</md-option>
    <md-option value="Asia/Tokyo" ng-selected="'Asia/Tokyo' == huntGroup.timezone">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</md-option>
    <md-option value="Australia/Darwin" ng-selected="'Australia/Darwin' == huntGroup.timezone">(GMT +9:30) Adelaide, Darwin</md-option>
    <md-option value="Asia/Vladivostok" ng-selected="'Asia/Vladivostok' == huntGroup.timezone">(GMT +10:00) Eastern Australia, Guam, Vladivostok</md-option>
    <md-option value="Australia/Lord_Howe" ng-selected="'Australia/Lord_Howe' == huntGroup.timezone">(GMT +10:30) Lord Howe Island</md-option>
    <md-option value="Asia/Magadan" ng-selected="'Asia/Magadan' == huntGroup.timezone">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</md-option>
    <md-option value="Pacific/Norfolk" ng-selected="'Pacific/Norfolk' == huntGroup.timezone">(GMT +11:30) Norfolk Island</md-option>
    <md-option value="Asia/Kamchatka" ng-selected="'Asia/Kamchatka' == huntGroup.timezone">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</md-option>
    <md-option value="Pacific/Chatham" ng-selected="'Pacific/Chatham' == huntGroup.timezone">(GMT +12:45) Chatham Islands</md-option>
    <md-option value="Pacific/Apia" ng-selected="'Pacific/Apia' == huntGroup.timezone">(GMT +13:00) Apia, Nukualofa</md-option>
</md-select>